.background {
    
}

.root{
  -fx-background-color: #2f4f4f;
    -fx-font-size: 20pt;
    -fx-font-family: "Courier New";

}

.ImageView{
    -fx-padding: 10;
    -fx-background-color: firebrick;
}




